.container{
  width: 90%;
  height: 100vh;
  padding: 62px 40px;
  .tracking{
    width: 1000px;
    display: flex;
    background: white;
    border-radius: 30px;
    padding: 30px 50px;
    justify-content: space-between;
    gap: 20px;
    div{
      width: 400px;
      display: flex;
      align-items: center;
      &:nth-child(1){
        border-right: 1px solid #F0F0F0;
      }
      &:nth-child(2){
        border-right: 1px solid #F0F0F0;
      }
      .icon{
        width: 42px;
        height: 42px;
        padding: 20px;
        background: linear-gradient(201.18deg, #D3FFE7 3.14%, #EFFFF6 86.04%);
        border-radius: 50%;
        img{
          width: 42px;
          height: 42px;
        }
      }
      ul{
        padding: 0;
        margin: 0;
        margin-left: 20px;
        li{
          list-style: none;
          color: #ACACAC;
        }
        h1{
          margin: 6px 0;
        }
        p{
          margin: 0;
          display: flex;
          align-items: center;
          gap: 3px;
          font-family: 'Gilroy Regular';
          
          span{
            display: flex;
            align-items: center;
            gap: 3px;
            font-family: 'Gilroy Semi-bold';
          }
        }
      }
    }
    .line{
      width: 2px;
      height: 80%;
      background: #F0F0F0;
    }
  }
  .cards{
    width: 100%;
    background: white;
    margin-top: 40px;
    border-radius: 30px;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    .card{
      display: flex;
      align-items: center;
      .icon{
        width: 42px;
        height: 42px;
        padding: 20px;
        background: linear-gradient(201.18deg, #D3FFE7 3.14%, #EFFFF6 86.04%);
        border-radius: 50%;
        img{
          width: 42px;
          height: 42px;
        }
      }
      ul{
        padding: 0;
        margin: 0;
        margin-left: 20px;
        margin-right: 60px;
        li{
          list-style: none;
          color: #ACACAC;
        }
        h1{
          margin: 6px 0;
        }
        p{
          margin: 0;
          display: flex;
          align-items: center;
          gap: 3px;
          font-family: 'Gilroy Regular';
          span{
            display: flex;
            align-items: center;
            gap: 3px;
          }
        }
      }
    }
  }
}